
<div *ngIf="order">
    <h2><span>Order</span> {{order.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Время начала</span></dt>
        <dd>
            <span>{{order.startOn | date:'medium'}}</span>
        </dd>
        <dt><span>Продолжительность</span></dt>
        <dd>
            <span>{{order.durationHours}}</span>
        </dd>
        <dt><span>Вес кг</span></dt>
        <dd>
            <span>{{order.weightKg}}</span>
        </dd>
        <dt><span>Общая стоимость</span></dt>
        <dd>
            <span>{{order.total}}</span>
        </dd>
        <dt><span>Клиент</span></dt>
        <dd>
            {{order.customer?.login}}
        </dd>
        <dt><span>Цена</span></dt>
        <dd>
            <div *ngIf="order.price">
                <a [routerLink]="['/wash-price', order.price?.id]">{{order.price?.priceKgHour}}</a>
            </div>
        </dd>
        <dt><span>Машина</span></dt>
        <dd>
            <span *ngFor="let machine of order.machines; let last = last">
                <a [routerLink]="['/wash-machine', machine?.id ]">{{machine.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>
    </button>
</div>
