<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderLabel">Создать или изменить заказ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!order.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="order.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startOn">Начало стирки</label>
            <div class="d-flex">
                <input id="field_startOn" type="datetime-local" class="form-control" name="startOn" [(ngModel)]="order.startOn"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.startOn?.dirty && editForm.controls.startOn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startOn?.errors?.required">
                    Это поле не должно быть пустым.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startOn?.errors?.ZonedDateTimelocal">
                    Корректно введите дату и время.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_durationHours">Продолжительность, часов</label>
            <input type="number" class="form-control" name="durationHours" id="field_durationHours"
                [(ngModel)]="order.durationHours" (ngModelChange)="calculateTotal()"
            required min="0" max="8" />
            <div [hidden]="!(editForm.controls.durationHours?.dirty && editForm.controls.durationHours?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.durationHours?.errors?.required">
                    Это поле не должно быть пустым.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.durationHours?.errors?.min">
                    Это поле не должно равняться 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.durationHours?.errors?.max">
                    Это поле не должно быть больше 8.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.durationHours?.errors?.number">
                    Это поле должно содержать только цифры.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weightKg">Вес, кг</label>
            <input type="number" class="form-control" name="weightKg" id="field_weightKg"
                [(ngModel)]="order.weightKg" (ngModelChange)="calculateTotal()"
            required min="0" max="100" />
            <div [hidden]="!(editForm.controls.weightKg?.dirty && editForm.controls.weightKg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.weightKg?.errors?.required">
                   Это поле не должно быть пустым.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weightKg?.errors?.min">
                    Это поле не должно равняться 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weightKg?.errors?.max">
                    Это поле не должно быть больше 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weightKg?.errors?.number">
                    Это поле должно содердать только цифры.
                </small>
            </div>
        </div>
        
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
            <label for="field_customer">Клиент</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="order.customer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === order.customer?.id ? order.customer : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        
        <div class="form-group">
            <div>Общая стоимость</div>
            <div class="lead "><em>{{order.total}}</em> грн</div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Закрыть</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Сохранить</span>
        </button>
    </div>
</form>
