<div>
    <h2>
        <span>Заказ</span>
        <button class="btn btn-primary float-right create-order" [routerLink]="['/', { outlets: { popup: ['order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Создать новый заказ
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Время начала</span></th>
            <th><span>Продолжительность</span></th>
            <th><span>Вес кг</span></th>
            <th><span>Общая стоимость</span></th>
            <th><span>Клиент</span></th>
            <th><span>Цена</span></th>
            <th><span>Машина</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['../order', order.id ]">{{order.id}}</a></td>
                <td>{{order.startOn | date:'medium'}}</td>
                <td>{{order.durationHours}}</td>
                <td>{{order.weightKg}}</td>
                <td>{{order.total}}</td>
                <td>
                    {{order.customer?.login}}
                </td>
                <td>
                    <div *ngIf="order.price">
                        <a [routerLink]="['../wash-price', order.price?.id ]" >{{order.price?.priceKgHour}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let machine of order.machines; let last = last">
                            <a class="form-control-static" [routerLink]="['../wash-machine', machine?.id ]">{{machine.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order', order.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">Посмотреть</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Изменить</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Удалить</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
