<div>
    <h2>
        <span>Wash Prices</span>
        <button class="btn btn-primary float-right create-wash-price" [routerLink]="['/', { outlets: { popup: ['wash-price-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Задать новую цену
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="washPrices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Цена час кг</span></th>
            <th><span>Действует до</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let washPrice of washPrices ;trackBy: trackId">
                <td><a [routerLink]="['../wash-price', washPrice.id ]">{{washPrice.id}}</a></td>
                <td>{{washPrice.priceKgHour}}</td>
                <td>{{washPrice.efferctiveTo | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../wash-price', washPrice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">Посмотреть</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wash-price/'+ washPrice.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Изменить</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wash-price/'+ washPrice.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Удалить</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
