
<div *ngIf="washPrice">
    <h2><span>Wash Price</span> {{washPrice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Price Kg Hour</span></dt>
        <dd>
            <span>{{washPrice.priceKgHour}}</span>
        </dd>
        <dt><span>Efferctive To</span></dt>
        <dd>
            <span>{{washPrice.efferctiveTo | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wash-price/'+ washPrice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
