<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="account">Пароль для [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Пароль сменен!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Ошибка!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Новый пароль</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="New password"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required">
                            Введите пароль.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength">
                            Ваш пароль должен иметь больще 4 символов.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength">
                            Ваш пароль должен содержать не более 0 символов.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Требуется подтверждение пароля.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Требуется подтверждение пароля.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Требуется подтверждение пароля.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
