<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWashMachineLabel">Добавить или редактировать стиральную машину</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!washMachine.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="washMachine.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_capacity">Вместимость</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                [(ngModel)]="washMachine.capacity"
            required min="0" max="100" />
            <div [hidden]="!(editForm.controls.capacity?.dirty && editForm.controls.capacity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.capacity?.errors?.required">
                    Это поле должно быть заполнено.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacity?.errors?.min">
                    Это поле не должно равняться 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacity?.errors?.max">
                    Вместимость не может быть такой большой.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacity?.errors?.number">
                    Это поле должно содержать только цифры.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_available">Исправность</label>
            <input type="checkbox" class="form-control" name="available" id="field_available"
                [(ngModel)]="washMachine.available"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Закрыть</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Сохранить</span>
        </button>
    </div>
</form>
