
<div *ngIf="washMachine">
    <h2><span>Стиральная машина</span> {{washMachine.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Вместимость</span></dt>
        <dd>
            <span>{{washMachine.capacity}}</span>
        </dd>
        <dt><span>Исправность</span></dt>
        <dd>
            <span>{{washMachine.available}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wash-machine/'+ washMachine.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>
    </button>
</div>
