<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Регистрация</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Регистрация завершена!</strong> Проверьте свой почтовый ящик для подтверждения.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Регистрация не удалась</strong> Попробуйте еще раз.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Пользователь с таким логином уже зарегестрирован!</strong> Выберете себе другой.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Такой почтовый ящик уже используется!</strong> Выберете себе другой.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Пароль и его подтверждение не совпадают!
            </div>
        </div>
        <div class="col-md-4 offset-md-2">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Логин</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Ваш логин"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Ваш логин зарегестрирован.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            В вашем логине должно быть больше 2 символов.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                           Ваш логин не должен быть более 50 символов.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Ваш логин может содержать только строчные буквы и цифры.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Почтовый адресс</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Ваш почтовый адресс"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Требуется ваш е-меил.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            некорректный почтовый адресс.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            некорректный почтовый адресс.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            некорректный почтовый адресс.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Новый пароль</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Новый пароль"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                           Необходим пароль.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Пароль должен содержать не менее 4 символов.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Подтверждение пароля</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Подтвердите пароль"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Требуется подтверждение пароля.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Требуется подтверждение пароля.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Требуется подтверждение пароля.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Зарегестрироваться</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span> </span>
                <a class="alert-link" (click)="openLogin()"></a><span>,:<br/>.</span>
            </div>
        </div>
        <div class="col-md-4">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
