<div class="modal-header">
    <h4 class="modal-title">Авторизироваться</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Невозможно авторизироваться!</strong> Попробуйте еще раз.
            </div>
        </div>
        <div class="col-md-6">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span>Запомнить меня</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Авторизироваться</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Забыли пароль?</a>
            </div>
            <div class="alert alert-warning">
                <span>У вас еще нет аккаунта?</span>
                <a class="alert-link" (click)="register()">Зарегестрировать новый</a>
            </div>
        </div>
        <div class="col-md-6">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
        </div>
    </div>
</div>
